.footer__link-list{
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style: none;
    padding-bottom: 24px;
}

/*320*/
@media screen and (max-width: 320px) {
    .footer__link-list{
       gap: 32px;
       flex-direction: column;
       padding-bottom: 48px;
    }
 }