.footer__link-list{
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style: none;
    padding-bottom: 24px;
}
/*480*/
@media screen and (max-width: 480px) {
    .footer__link-list{
       gap: 32px;
       flex-direction: column;
       padding-bottom: 48px;
    }
 }

/*730*/
@media screen and (max-width: 730px) {
    .footer__link-list{
        margin-left: 15px;
        margin-right: 15px;
    }
}
