.intro__list{
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-top: 33px;
}

/*768*/
@media screen and (max-width: 768px) {
    .intro__list{
        max-width: 720px;
    }
}