.cover__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0;
    max-width: 360px;
    position: relative;
    z-index: 1;
}

/*320*/
@media screen and (max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
}