.place__paragraph{
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 0px;
    }

    .place__paragraph:not(:last-of-type){
        margin-bottom: 26px;
    }

    /*575*/
@media screen and (max-width: 575px) {
    .place__paragraph{
        margin-left: 15px;
        margin-right: 15px;
    }
}

    /*768*/
@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
    }
    .place__paragraph:not(:last-of-type){
        margin-bottom: 25px;
    }
}

    /*768*/
    @media screen and (max-width: 320px) {
        .place__paragraph{
            margin: 0 auto;
            max-width: 288px;
        }
    }