.footer__copyright{
    margin: 0;
    padding-bottom: 24px;
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    text-align: right;
    
    color: #FFFFFF;
}


/*320*/
@media screen and (max-width: 320px) {
    .footer__copyright{
       line-height: 14px;
    }
 }