.lead__image{
   margin: 0;
   padding: 0;
   width: 100%;
   height: auto;
   padding-top: 56px;
}

/*1024*/
@media screen and (max-width: 1024px){
    .lead__image{
    }
    }
/*768*/
@media screen and (max-width: 768px){
    .lead__image{
        max-width: 768px;
        padding-top: 56px;
    }
    }
/*320*/
@media screen and (max-width: 320px){
    .lead__image{
        max-width: 320px;
        padding-top: 40px;
    }
    }

