.cover__title{
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    position: relative;
    z-index: 1;
}

/*320*/
@media screen and (max-width: 526px) {
    .cover__title{
        font-size: 10vw;
    }
}

/*320*/
@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}