.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 19px;
    row-gap: 48px;
}

/*1024*/
@media screen and (max-width: 1024px) {
    .place{
        column-gap: 24px;
    }
}

/*768*/
@media screen and (max-width: 768px) {
    .place{
        column-gap: 13px;
    }
}

/*575*/
@media screen and (max-width: 575px) {
    .place{
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 0 auto;
    }
}

/*320*/
@media screen and (max-width: 320px) {
    .place{
        row-gap: 32px;
    }
}